* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #7c2aff;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
        color: #ecf0f1;
text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos img {
    height: 24px;
}

.logos img li {
    display: inline;
    margin-right: 8;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #531ea8;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.logos-social img {
    height: 24px;
}

.logos-social li {
    display: inline;
    margin-right: 8px;
}

.logos-social li a {
    text-decoration: none;
}


#contato .container {
    display: block;
}

.contato-metas {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #7c2aff;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #924ffd;
}

input:focus, textarea:focus {
    outline-color: #7c2aff;
}

footer {
    background-color: #7c2aff;
    color: #ecf0f1;
    padding: 16px 0;
}